In [1]:
import numpy as np
import pandas as pd

In [2]:
temp_df=pd.read_csv(r"C:\Users\Abdur rahim nishad\Downloads\archive (3)\IMDB Dataset.csv")

In [3]:
temp_df.iloc[:1000]

                                                review sentiment
0    One of the other reviewers has mentioned that ...  positive
1    A wonderful little production. <br /><br />The...  positive
2    I thought this was a wonderful way to spend ti...  positive
3    Basically there's a family where a little boy ...  negative
4    Petter Mattei's "Love in the Time of Money" is...  positive
..                                                 ...       ...
995  Nothing is sacred. Just ask Ernie Fosselius. T...  positive
996  I hated it. I hate self-aware pretentious inan...  negative
997  I usually try to be professional and construct...  negative
998  If you like me is going to see this in a film ...  negative
999  This is like a zoology textbook, given that it...  negative

[1000 rows x 2 columns]

In [4]:
df=temp_df.loc[:1000]

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
df.review[1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

In [7]:
df.isna().sum()

review       0
sentiment    0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
#Basic preprocessing
#remove tags
#lowercase
#remove stopwords

In [10]:
import re
def remove_tags(raw_text):
    cleaned_text=re.sub(re.compile("<.*?>"), "",raw_text)
    return cleaned_text

In [11]:
df["review"]=df.review.apply(remove_tags)

C:\Users\ABDURR~1\AppData\Local\Temp/ipykernel_10792/1438303900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["review"]=df.review.apply(remove_tags)

In [12]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [13]:
df.review=df.review.str.lower()

C:\Users\Abdur rahim nishad\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [14]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [15]:
from nltk.corpus import stopwords
sw_list=stopwords.words("english")

C:\Users\Abdur rahim nishad\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [16]:
def remove_stopwords(text):
    text=text.split()
    li=[]
    
    for i in text:
        if i not in stopwords.words("english"):
            li.append(i)
    return " ".join(li)

In [17]:
remove_stopwords("Hi I am Riad")

'Hi I Riad'

In [18]:
fdf.review=df.review.apply(remove_stopwords)

C:\Users\Abdur rahim nishad\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [19]:
df.head()

                                              review sentiment
0  one reviewers mentioned watching 1 oz episode ...  positive
1  wonderful little production. filming technique...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically there's family little boy (jake) thi...  negative
4  petter mattei's "love time money" visually stu...  positive

In [20]:
X=df.iloc[:,:1]
y=df.iloc[:,-1]

In [21]:
X

                                                 review
0     one reviewers mentioned watching 1 oz episode ...
1     wonderful little production. filming technique...
2     thought wonderful way spend time hot summer we...
3     basically there's family little boy (jake) thi...
4     petter mattei's "love time money" visually stu...
...                                                 ...
996   hated it. hate self-aware pretentious inanity ...
997   usually try professional constructive criticiz...
998   like going see film history class something li...
999   like zoology textbook, given depiction animals...
1000  movie awful, can't even bothered write review ...

[1001 rows x 1 columns]

In [22]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
y=encoder.fit_transform(y)

In [23]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=1)

In [25]:
X_train.shape

(800, 1)

In [26]:
#applying Bow
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
cv=CountVectorizer()

In [28]:
X_train_bow=cv.fit_transform(X_train["review"]).toarray()
X_test_bow=cv.transform(X_test["review"]).toarray()

In [29]:
X_train_bow.shape

(800, 15881)

In [30]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()

In [31]:
gnb.fit(X_train_bow,y_train)

GaussianNB()

In [32]:
y_pred=gnb.predict(X_test_bow)
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.6119402985074627

In [33]:
confusion_matrix(y_test,y_pred)

array([[58, 48],
       [30, 65]], dtype=int64)

In [34]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train_bow,y_train)
y_pred=rf.predict(X_test_bow)
accuracy_score(y_test,y_pred)

0.8258706467661692

In [35]:
cv=CountVectorizer(max_features=3000)
X_train_bow=cv.fit_transform(X_train["review"]).toarray()
X_test_bow=cv.transform(X_test["review"]).toarray()
rf=RandomForestClassifier()
rf.fit(X_train_bow,y_train)
y_pred=rf.predict(X_test_bow)
accuracy_score(y_test,y_pred)

0.8159203980099502

In [36]:
cv=CountVectorizer(ngram_range=(1,2),max_features=3000)
X_train_bow=cv.fit_transform(X_train["review"]).toarray()
X_test_bow=cv.transform(X_test["review"]).toarray()
rf=RandomForestClassifier()
rf.fit(X_train_bow,y_train)
y_pred=rf.predict(X_test_bow)
accuracy_score(y_test,y_pred)

0.8009950248756219

# using tfidf

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [38]:
tfidf=TfidfVectorizer()

In [39]:
X_train_tfidf=tfidf.fit_transform(X_train["review"]).toarray()
X_test_tfidf=tfidf.transform(X_test["review"]).toarray()

In [40]:
rf=RandomForestClassifier()
rf.fit(X_train_tfidf,y_train)
y_pred=rf.predict(X_test_tfidf)
accuracy_score(y_test,y_pred)

0.7910447761194029